/* Carousel d'entrée dans le site */
body{
  overflow: hidden;
}

.centerAll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#button {
  display: inline-block;
  background-color: #1f293a;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:2;
  color: white;
  text-align: center;
  line-height: 100%;
  
}

.splash.display-none {
  position: fixed;
  opacity:0;
  transition: all 1s;
  z-index: 1;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
  
}

.fade-in{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

#image{
  width: 50%;
  margin : 5% 0 0 23%;
}

@keyframes move {
  100% {
    translate: 100px;
  }
}

#welcome{
  font-size: 300%;
}

#mainBG {
  position: relative;
  width: 100%;
  height: 110vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  border-bottom: 0;
  background-color: #1f293a;
  /*background: linear-gradient(0deg, white 0%, #1f293a 5%);*/
  /*background: linear-gradient(0deg, white 0%, #1f293a 10%);*/
}

div.MouseScroll {
  position: absolute;
  left: 50%;
  bottom: 17%;
  width: 10%;
  height: 10%;
  margin: 0 0 0 -5%;

  z-index: 1;
}

@keyframes ChevronAnimation {
	0% {
		transform: translateY(3px);
		opacity: 1
	}
	50% {
		transform: translateY(8px);
		opacity: 0
	}
	60% {
		transform: translateY(3px);
		opacity: 0
	}
}

path.MouseScroll--chevron {
animation: ChevronAnimation 3s ease infinite;
transform: translateY(3px)
}

.animate-on-scroll {
  opacity: 0;
  transition: opacity 3s;
}

.animate-on-scroll.is-visible {
  opacity: 1;
}

@media screen and (max-width: 650px) {
  .main-image {
    width: 80%;
  }
}

/* Titre des sections */
.title-deco {
  position: relative;
}
.title-deco::after {
  position: absolute;
  content: "";
  width: 42px;
  height: 4px;
  background: #ffffff;
  left: 0;
  bottom: 0px;
}

/*section SAP Landscapes*/
/*css tab*/  
.tab {
display: none;
padding: 20px 0 0;
border-top: 1px solid #ddd;
align-items: center;
}
input {
display: none;
}
label {
display: inline-block;
margin: 0 0 -1px;
padding: 15px 25px;
font-weight: 600;
text-align: center;
color: #bbb;
border: 1px solid transparent;
}
label:before {
font-weight: normal;
margin-right: 10px;
}
label:hover {
color: #888;
cursor: pointer;
}
input:checked + label {
color: #555;
border: 1px solid #ddd;
border-top: 2px solid #5532fa;
border-bottom: 1px solid #fff;
}
#tab1:checked ~ #front,
#tab2:checked ~ #back
{
display: block;
}
@media screen and (max-width: 650px) {
label {
  font-size: 0;
}

label:before {
  margin: 0;
  font-size: 18px;
}

.technos {
  transform: scale(1.25);
}
}
@media screen and (max-width: 400px) {
label {
  padding: 15px;
}
}

@media screen and (max-width: 500px) {
.technos {
  transform: scale(1.5);
}
}

@media screen and (max-width: 1023px) {
  .numbers-icons {
    margin-top: 40px;
  }
}

/* section team members */
/*Glissière image*/


@keyframes scroll {
0% {
  transform: translateX(0);
}

100% {
  transform: translateX(calc(-250px * 7));
}
}

.members {
height: 120px;
margin: auto;
overflow: hidden;
position: relative;
}

.members::before, .members::after {
background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
content: "";
height: 100px;
position: absolute;
width: 1px;
z-index: 1;
}

.members::after {
right: 0;
top: 0;
transform: rotateZ(180deg);
}

.members::before {
left: 0;
top: 0;
}

.members .sliders {
animation: scroll 8s linear infinite;
display: flex;
width: calc(250px * 14);
overflow: hidden;
}

.members .slide {
  height: 150px;
  width: 150px;
  }

.members .slide img{
  height: 80%;
  width: 100%;
  clip-path:ellipse(45% 50%);
}

@media (max-width: 540px) {
  .members {
    height: 100px;
  }

  .members .slide img{
    height: 80%;
    width: 100%;
    clip-path:ellipse(45% 50%);
  }
}

/* Section team values*/

/* slider */

.value {
position: relative;
overflow: hidden;
}

.value .slider2 {
height: 100%;
white-space: nowrap;
font-size: 0;
transition: 0.8s;
}

.value .slider2 > * {
font-size: 1rem;
display: inline-block;
white-space: normal;
height: 100%;
width: 100%;
background: none 50% no-repeat;
margin-bottom: 5%;
}

.value .prevNext {
position: absolute;
z-index: 1;
top: 40%;
width: 100%;
height: 0;
}

.value .prevNext > div+div {
visibility: hidden; 
}

.value .prevNext a {
background: transparent;
position: absolute;
width: 50px;
height: 50px;
-webkit-transition: 0.3s;
        transition: 0.3s;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
left: 0;
}

.value .prevNext a:hover {
opacity: 1;
}

.value .prevNext a+a {
left: auto;
right: 0;
}


.value >s:target ~ .prevNext >* { visibility: hidden;}
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}

#s1:target ~ .slider {transform: translateX(0%); -webkit-transform: translateX(0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}

.value {
color: black;	
text-align: center;
}

.value a {
margin: 0 10px;
color: rgba(0,0,0,0.8);
}

.arrow-left {
border-right: 25px solid rgb(255, 255, 255);
border-left: 25px solid transparent;
border-top: 25px solid transparent;
border-bottom: 25px solid transparent;
}

.arrow-right {
border-left: 25px solid rgb(255, 255, 255);
border-right: 25px solid transparent;
border-top: 25px solid transparent;
border-bottom: 25px solid transparent;
}

@media screen and (max-width: 650px) {
.desc {
  margin-left: -8%;
}
}

@media screen and (max-width: 300px) {
.desc {
  margin-left: -16%;
}
}

.values-logo {
  width: 80px;
}

@media screen and (max-width: 650px) {
  .values-logo {
    width: 60px;
  }
}

.hover-btn{
  all: unset;
  cursor: pointer;
  margin-left: 60px;
  border:2px solid white;
  color: white;
  padding: 5px; border-radius: 10%;
  width: 60px;
  text-align: center;
}

.hover-btn:hover {
  color: #1f293a;
  background-color: white;
}

@media screen and (max-width: 668px) {
  .title-move {
    margin-left: 10px;
  }
}

.container23 {
  display:grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#TEST {
  width: 200px;
  height: 35px;
  display: flex;
  align-items: center;
  margin: 1.5em;
  padding: 1em;
  background-color: #1f293a;
  position: relative;
  color: white;
  border-radius: 5px;
  justify-content: center;
  border: 3px solid #1f293a;
}

/* #TEST:hover {
  background-color: white;
  color: #1f293a;
  border: 3px solid #1f293a;
  font-weight: bolder;
} */

.sliderContainer {
  overflow: hidden;
  width: inherit;
  height: 200px;
}

.send_button {
  background-color: #1f293a;
  border-style: groove;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-110.84px * 12));
  }
}

.slider {
  background: white;
  height: 150px;
  overflow: hidden;
  position: relative;
  width: inherit;
  display: flex;
}

.slider-position {
  margin-top: 3rem;
  margin-left: 3rem;
}

@media screen and (max-width: 1023px) {
  .slider-position{
    margin-top: 5rem;
    margin-left: 0;
  }
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 150px;
  position: absolute;
  width: 50px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 20s linear infinite;
  animation: scroll 20s linear infinite;
  display: flex;
}

.slider .slide {
  height: 150px;
  width: 106px;
  margin-left: 5px;
}

.avatar {
  border-radius: 10%;
  height: 150px;
}

@media screen and (max-width: 1023px) {
  .responsive_div{
    display: none;
  }
}

.list-responsive {
  margin-top: 1rem;
}

@media screen and (max-width: 767.99px) {
  .list-responsive{
    margin-top: 3rem;
  }
}

@media screen and (max-width: 1023px) {
  .numbers-width-responsive{
    width: 30%;
  }
}



#snackbar {
  visibility: hidden;
  min-width: 200px; 
  margin-left: -97px;
  background-color: #1f293a; 
  color: white; 
  text-align: center;
  border-radius: 5%;
  border-width: 3px;
  border-color: white;
  padding: 16px;
  position: fixed;
  left: 50%; 
  bottom: 30px; 
}


#snackbar.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}



.slider-docu {
  max-width: 200%;
  height: 200%;
  display: flex;
  background: transparent;
  color: black;
}
.slider-docu .card {
  flex: 1;
  margin: 0 3%;
  border-radius: 3%;
  overflow: hidden;
  background-color: none;
  height: 100%;
  border-color: #1f293a;
}

.slider-docu .card .img {
  height: 200px;
  margin: 4%;
  width: calc(100% - 7%);
  border-radius: 3%;
  overflow: hidden;
}

.slider-docu .card .img:hover {
  filter: brightness(75%);
}

.slider-docu .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider-docu .card .img img:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slider-docu .card .content {
  padding: 10px 20px;
}
.card .content .title {
  text-align: left;
  font-size: 150%;
  font-weight: 500;
}
.card .content .sub-title {
  font-size: 100%;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.card .content p {
  text-align: left;
  margin: 2% 0;
  line-height: 1.5;
  max-height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.card .content button {
  background-color: #1f293a;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-size: 100%;
  font-weight: 500;
  height: 20%;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  touch-action: manipulation;
  bottom: 10px;
}