<footer class="mt-8 grid grid-flow-row grid-cols-2 gap-4">
    <div>
        <img src="{{$.Site.Params.urlFooterImg}}" class="content-footer" width="60%"/>
    </div>
    <div>
        {{$.Site.Params.Company}}
        <br />
        <a href="https://maps.app.goo.gl/i1MVPzPAhYmkcEpy7"  target="_blank" rel="noopener noreferrer"> <u> 1 Mail de la Petite Espagne, 93210 Saint-Denis </u></a>
    </div>
    <div>
    <!-- <i class="fa fa-envelope icon"></i><a href="mailto:{{$.Site.Params.mailAdress}}" class="mail">{{$.Site.Params.mailAdress}}</a> -->
    </div>
</footer>
  